tmp/*
/app/Config/database.php
/app/config/core.php
/app/tmp/*
/app/tmp/cache/*
/app/tmp/persistent/*
!empty
/nbproject/private/
/app/webroot/uploads/
/nbproject
database.php
icase.js
jquery.mememaker.js
jquery.mememakerinit.js
/*.sql
/card/app/tmp/
/card/app/tmp/*
/card/app/tmp/cache/models
/card/app/tmp/cache/models/*
/card/app/tmp/cache/models/
/card/app/tmp/cache/views
/card/app/tmp/logs/*