/*
 * theme - grey city
 * @author hellomaya
 * @date 2013.09.13
 */
body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color:#888;
    font-size:14px;
}

.unselectable { 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -o-user-select: none; 
    user-select: none; 
}

.clear {
    clear:both;
    height:0px;
}

.hide {
    display:none;
}

.hm-row {
    width:100%;
    margin:0;
    padding:0;
    display:block;
}

.hm-row:after {
    clear:both;
}

.hm-span6 {
    width:50%;
    float:left;
    margin:0;
    padding:0;
}

.hm-span12 {
    width:100%;
    margin:0;
    padding:0;
    display:block;
}

.hm-span12:after {
    clear:both;
}

.pull-right {
    clear:both;
    float:right;
}

#box-container {
    background:white;
    width:934px;
    text-align: auto;
    margin:auto;
    padding:20px;
    box-shadow:none;
    border-radius: 5px;
}

/* ========================================== */

#box-toolbar-main ul.hm-thumbnails {
    list-style: none;
    margin:0;
    padding:0;
}

#box-toolbar-main ul.hm-thumbnails>li {
    float:left;
    padding-left:5px;
    padding-right:5px;
}

#box-toolbar-main ul.hm-thumbnails>li .hm-thumbnail {
    display:block;
    border:none;
    text-align:center;
    margin:auto;
}

#box-toolbar-main ul.hm-thumbnails>li .hm-thumbnail a {
    display:block;
    color:#bf7130;
    text-decoration: none;
}

#box-toolbar-main ul.hm-thumbnails>li .hm-thumbnail a.active {
    border:none;
    text-shadow: none;
    box-shadow: none;
    color:red
}

#box-toolbar-main ul.hm-thumbnails>li .hm-thumbnail a:hover {
    color:orangered;
}

#box-toolbar-main ul.hm-thumbnails>li .hm-thumbnail .caption {
    display:block;
    text-align: center;
    margin:auto;
}

/* ========================= */
#box-controlbar {
    display:block;
    margin:0;
    padding:0;
    height:40px;
    background-color:#eee; 
}

#box-controlbar ul {
    list-style: none;
    margin:0;
    padding:0;
}

#box-controlbar ul li {
    float:left;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
}

#box-controlbar ul li a {
    display:block;
    color:#bf7130;
    text-decoration: none;    
}

#box-controlbar ul li a:hover {
    display:block;
    color:orangered;
    text-decoration: none;    
}

#box-controlbar ul li.disabled a {
    color:#ccc;
}

#box-editing {
    background-image:url(../img/bg.png);
    background-color:#aaa;
    display:block;
    width:100%;
    overflow:auto;
    padding:0;
    text-align: center;
    margin:0;
    padding-top:10px;
}

#box-canvas-wrapper {
    box-sizing: content-box;
    border:1px dashed orchid;
    width:480px;
    height:580px;
    text-align:center;
    margin:auto;
}

/* =================================*/
#box-toolbar-move {
    /*text-align:center;
    margin:auto;*/
    background-color:#eee;
    opacity: 0.5;
    margin:0;
    padding:0;
    width:96px;
}

#box-toolbar-move a {
    color:#999;
    text-decoration: none;
}

#box-toolbar-move a:hover {
    color:orangered;
}

#box-toolbar-move a:active {
    color:#bf7130;
}

#box-toolbar-move ul {
    width:96px;
    list-style: none;
    top:0px;
    float:left;
    margin:0;
    padding:0;
}

#box-toolbar-move ul li {
    float:left;
    width:30px;
    height:30px;
    margin:auto;
    text-align: center;
    border:1px solid #ccc;
}


/* ========================================== */
#box-toolbar-zoom {
    background-color:#eeeeee;
    top:300px;
    position: absolute;
    border-radius: 0px;
    opacity:0.6;
}

#box-toolbar-zoom ul {
    list-style: none;
    margin:0;
    padding:0;
}

#box-toolbar-zoom li {
    width:30px;
    height:30px;
    padding:5px;
    margin:auto;
    text-align: center;
}

#box-toolbar-zoom li.divider {

}

#box-toolbar-zoom li:hover a {
    color:orangered;
}

#box-toolbar-zoom li.disabled {
    filter: alpha(opacity=20);
    opacity: .2;
}

#box-toolbar-zoom li.disabled:hover a {
    color:#666;
}

#box-toolbar-zoom li a {
    text-decoration: none;
    color:#666;
}

.icon-zoomin {
    background-image:url('../img/sidebar.png');
    background-position:-20px 0px;
    width:20px;
    height:20px;
    margin:0;
    display:block;
}

.icon-zoomout {
    background-image:url('../img/sidebar.png');
    background-position:-40px 0px;
    width:20px;
    height:20px;
    margin:0;
    display:block;
}

.icon-zoomreset {
    background-image:url('../img/sidebar.png');
    background-position:0px 0px;
    width:20px;
    height:20px;
    margin:0;
    display:block;
}

/*
.icon-undo {
    background-image:url('../img/sidebar.png');
    background-position:-20px -20px;
    width:20px;
    height:20px;
    margin:0;
    display:block;
}*/

/* ========================================== */
#box-toolbar-bg {
    position: absolute;
    border:1px solid #ccc;
    background-color:#eee;
    opacity: 0.7;
    top:191px;
}

#box-toolbar-bg ul {
    list-style: none;
    margin:0;
    padding:0;
}

#box-toolbar-bg li {
    width:30px;
    height:30px;
    float:left;
    padding:5px;
    text-align:center;
    margin:auto;
}

#box-toolbar-bg li a {
    text-decoration: none;
    color:#bf7130;
}

#box-toolbar-bg li.divider {
    border-right:1px solid #ccc;
}

#box-toolbar-bg li:hover ul{
    display:block;
}

#box-toolbar-bg li:hover a {
    color:orangered;
}

#li-backgroundcolor ul {
    width:320px;
    background-color:white;
    top:40px;
    left:1px;
    position: absolute;
    padding:10px;
}

#li-backgroundcolor ul li {
    height:30px;
    width:30px;
    float:left;
    padding:5px;
}

#li-backgroundcolor ul li.disabled:hover {
    background-color:white;
}

#li-backgroundcolor ul li>a {
    height:30px;
    width:30px;
    display:block;
}

#li-backgroundcolor ul li:hover {
    background-color:#ccc;
}

.icon-bgcolor {
    background-image:url('../img/toolbar.png');
    background-position:-294px 0px;
    width:42px;
    height:42px;
    margin:0;
    display:block;
}

.icon-delete {
    background-image:url('../img/toolbar.png');
    background-position:-294px -42px;
    width:42px;
    height:42px;
    margin:0;
    display:block;
}

.icon-confirm {
    background-image:url('../img/toolbar.png');
    background-position:0px -42px;
    width:42px;
    height:42px;
    margin:0;
    display:block;
}
/* ========================================== */
#box-toolbar-shape {
    border:1px solid #ccc;
    background-color:#eee;
    opacity: 0.7;
    position: absolute;
    top:191px;
}

#box-toolbar-shape ul {
    list-style: none;
    margin:0;
    padding:0;
}

#box-toolbar-shape li {
    width:30px;
    height:30px;
    float:left;
    padding:5px;
    text-align:center;
    margin:auto;
}

#box-toolbar-shape li a {
    text-decoration: none;
    color:#bf7130;
}

#box-toolbar-shape li.divider {
    border-right:1px solid #ccc;
}

#box-toolbar-shape li:hover ul{
    display:block;
}

#box-toolbar-shape li:hover {
    background-color:#ccc;
}


/* ========================================== */
#box-toolbar-imageeditor {
    border:2px solid #999;
    background-color:#ccc;
    opacity: 0.8;
    width:123px;
    position: absolute;
}

#box-toolbar-imageeditor>ul {
    list-style: none;
    margin:0;
    padding:0;

}

#box-toolbar-imageeditor>ul>li {
    width:30px;
    height:30px;
    float:left;
    padding:5px;
    margin:auto;
    text-align: center;
}

#box-toolbar-imageeditor>ul>li a {
    text-decoration: none;
    color:#666;
}

#box-toolbar-imageeditor>ul>li:hover a {
    color:orangered;
}

#box-toolbar-imageeditor>ul>li.divider {
    border-right:1px solid #333;
}

/* ========================================== */
#box-toolbar-texteditor {
    border:2px solid #999;
    background-color:#ccc;
    opacity: 0.8;
    width:492px;
    position: absolute;
}

#box-toolbar-texteditor>ul {
    list-style: none;
    margin:0;
    padding:0;

}

#box-toolbar-texteditor>ul>li {
    width:30px;
    height:30px;
    float:left;
    padding:5px;
    margin:auto;
    text-align: center;
}

#box-toolbar-texteditor>ul>li a {
    text-decoration: none;
    color:#666;
}

#box-toolbar-texteditor>ul>li:hover a {
    color:orangered;
}

#box-toolbar-texteditor>ul>li.divider {
    border-right:1px solid #333;
}

.icon-edittext {
    background-image:url('../img/toolbar.png');
    background-position:-462px 0px;
    width:42px;
    height:42px;
    margin:0;
    display:block;
}

.icon-fonttype {
    background-image:url('../img/toolbar.png');
    background-position:-210px 0px;
    width:42px;
    height:42px;
    margin:0;
    display:block;
}

.icon-fontsize {
    background-image:url('../img/toolbar.png');
    background-position:-252px 0px;
    width:42px;
    height:42px;
    margin:0;
    display:block;
}

.icon-fontcolor {
    background-image:url('../img/toolbar.png');
    background-position:-294px 0px;
    width:42px;
    height:42px;
    margin:0;
    display:block;
}

.icon-fontweight {
    background-image:url('../img/toolbar.png');
    background-position:-84px 0px;
    width:42px;
    height:42px;
    margin:0;
    display:block;
}

.icon-fontitaly {
    background-image:url('../img/toolbar.png');
    background-position:-126px 0px;
    width:42px;
    height:42px;
    margin:0;
    display:block;
}

.icon-fontunderline {
    background-image:url('../img/toolbar.png');
    background-position:-168px 0px;
    width:42px;
    height:42px;
    margin:0;
    display:block;
}

.icon-text-left {
    background-image:url('../img/toolbar.png');
    background-position:-336px 0px;
    width:42px;
    height:42px;
    margin:0;
    display:block;
}

.icon-text-center {
    background-image:url('../img/toolbar.png');
    background-position:-378px 0px;
    width:42px;
    height:42px;
    margin:0;
    display:block;
}

.icon-text-right {
    background-image:url('../img/toolbar.png');
    background-position:-420px 0px;
    width:42px;
    height:42px;
    margin:0;
    display:block;
}

.icon-forward {
    background-image:url('../img/toolbar.png');
    background-position:-336px -42px;
    width:42px;
    height:42px;
    margin:0;
    display:block;
}

.icon-backward {
    background-image:url('../img/toolbar.png');
    background-position:-420px -42px;
    width:42px;
    height:42px;
    margin:0;
    display:block;
}

/* ========================================*/
#box-toolbar-texteditor li:hover ul {
    display:block;
}

#box-toolbar-texteditor li ul {
    position: absolute;
    top:40px;
    display:none;
    background-color:#eee;
    border: 1px solid #e5e5e5;
    box-shadow: 1px 1px 4px 0 rgba(102,102,102,0.2);
    padding:15px;
    margin:0 -1px;
    list-style: none;
}

#li-text-content ul {
    width:478px;
    height:150px;
    background-color:#eee;
    position:absolute;
    padding:10px;
    display:block;
    left:-5px;
}

#li-font-type ul {
    width:600px;
    left:-10px;
}

#li-font-type ul li {
    cursor: pointer;
    width:195px;
    border-left:5px solid #FFFFFF;
    margin:0;
    padding:0;
    height:auto;
    display:block;
    float:left;
    overflow: hidden;
}

#li-font-type ul li:hover {
    background-color:white;
    border-left:5px solid red;
}

#li-font-type ul li a {
    /*background-image: url('../img/font_previews.png');*/
    background-repeat: no-repeat;
    height: 20px;
    margin: 2px 0;
    line-height: 10px;
    text-align:left;
    padding-left:10px;
    padding-top:8px;
    width:100%;
    display:block;
    text-decoration: none;
    color:#333;
}

#li-font-type li:hover {
    border-left:5px solid red;
}

/* ============================ */
#li-font-size ul {
    width:200px;
    left:-10px;
}

#li-font-size ul li {
    float:left;
    text-align:center;
    margin:auto;
}

#li-font-size ul li>a {
    padding:5px;
    width:30px;
    display:block;
    color:orange;
}

#li-font-size ul li:hover {
    background-color:#eee;
}

#li-font-size ul li:hover a {
    color:orange;
}

/* ============================== */
#li-font-color ul {
    width:320px;
    left:-10px;
}

#li-font-color ul li {
    height:30px;
    width:30px;
    float:left;
    padding:5px;
}

#li-font-color ul li:hover {
    background-color:#eee;
}

#li-font-color ul li>a {
    height:30px;
    width:30px;
    display:block;
}


/* =================================== */
.selection ul {
    list-style:none;
    margin:0;
    padding:0;
}

.selection ul>li {
    float:left;
    padding-left:10px;
    padding-right:10px;
}

.selection ul>li a {
    color:#333;
    text-decoration: none;
}

.selection ul>li a:hover {
    color:orangered;
}

.selection ul>li.active a {
    color:orangered;
}

.selection ul>li.disabled {
    width: 100px;
    text-align:left;
}

.thumbnail {
    padding-top:10px;
    color:white;

}

.thumbnail a {
    display: block;
    margin:auto;
    text-align: center;
    padding:0;
}

.thumbnail a img {
    padding:0;
    box-shadow: 0px 1px 4px 0px #ccc;
    border: 1px solid #ccc;
}

.thumbnail a:hover img {
    -moz-box-shadow: 0 0 5px orangered;
    -webkit-box-shadow: 0 0 5px orangered;
    box-shadow: 0px 0px 5px orangered;
}

div.thumbnail {
    margin-bottom:10px;
}

.modal-category-preview {
    position: fixed;
    top: 5%;
    left: 50%;
    z-index: 1050;
    width: 900px;
    margin-left: -450px;
    background-color: #fff;
    /*    border: 1px solid #999;
        border: 1px solid rgba(0,0,0,0.3);*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: 0;
    /*    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
        box-shadow: 0 3px 7px rgba(0,0,0,0.3);*/
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    border:none;

}

.modal-category-preview img {
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
}

.btn-no-corner {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.modal-category-allprice {
    position: fixed;
    top: 15%;
    left: 50%;
    z-index: 1050;
    width: 700px;
    margin-left: -350px;
    background-color: #fff;
    /*    border: 1px solid #999;
        border: 1px solid rgba(0,0,0,0.3);*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: 0;
    /*    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
        box-shadow: 0 3px 7px rgba(0,0,0,0.3);*/
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    border:none;

}
