
body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color:#888;
}

hr {border-color:#E9E9E9}

.unselectable { 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -o-user-select: none; 
    user-select: none; 
}

.clear {
    clear:both;
    height:0px;
}

#box-container {
    box-shadow:none;
    font-size:14px;
    background:white;
    width:934px;
    margin:auto;
    padding:20px;
    border-radius: 5px;
}

#box-editing {
    background-image:url(../img/bg.png);
}
/* ========================================== */

#box-toolbar-main a {
    color:#bf7130;
    text-decoration: none;
}

#box-toolbar-main a:hover {
    color:orangered;
}

#box-toobar-main a:hover .caption {
    color:orangered;
}

#box-toolbar-main li {
    width:auto;
    margin:0px;
    padding:0px;
}

#box-toolbar-main .thumbnail {
    box-shadow: none;
    margin:0px;
    padding:0px;
}

#box-toolbar-main a img {
    border:1px solid white;
}

#box-toolbar-main a:hover img {
    border-radius: 5px;
}

#box-toolbar-main a:active img {
    border:1px solid white;
    border-radius: 5px;
}

#box-toolbar-main .caption {
    font-size:12px;
}

/* =================================*/
#box-toolbar-move {
    /*text-align:center;
    margin:auto;*/
    background-color:#eee;
    opacity: 0.5;
    margin:0px;
    padding:0px;
    width:96px;
}

#box-toolbar-move a {
    color:#999;
    text-decoration: none;
}

#box-toolbar-move a:hover {
    color:orangered;
}

#box-toolbar-move a:active {
    color:#bf7130;
}

#box-toolbar-move ul {
    width:96px;
    list-style: none;
    top:0px;
    float:left;
    margin:0px;
    padding:0px;
}

#box-toolbar-move ul li {
    float:left;
    width:30px;
    height:30px;
    margin:auto;
    text-align: center;
    border:1px solid #ccc;
}

/* ========================================== */
#box-toolbar-bg {
    border:1px solid #ccc;
    box-shadow: 1px;
    background-color:white;
}

#box-toolbar-bg ul {
    list-style: none;
    margin:0px;
    padding:0px;
}

#box-toolbar-bg li {
    width:30px;
    height:30px;
    float:left;
    padding:5px;
    text-align:center;
    margin:auto;
}

#box-toolbar-bg li a {
    text-decoration: none;
    color:#bf7130;
}

#box-toolbar-bg li.divider {
    border-right:1px solid #ccc;
}

#box-toolbar-bg li:hover ul{
    display:block;
}

#li-backgroundcolor ul {
    width:320px;
    border:1px solid #ccc;
    background-color:white;
    top:40px;
    left:0px;
    position: absolute;
    padding:10px;
}

#li-backgroundcolor ul li {
    height:24px;
    width:24px;
    float:left;
    padding:5px;
}

#li-backgroundcolor ul li.disabled:hover {
    background-color:white;
}

#li-backgroundcolor ul li>a {
    height:30px;
    width:30px;
    display:block;
}


.icon-bgcolor {
    background-image:url('../img/toolbar.png');
    background-position:-294px 0px;
    width:42px;
    height:42px;
    margin:0px;
    display:block;
}

.icon-delete {
    background-image:url('../img/toolbar.png');
    background-position:-294px -42px;
    width:42px;
    height:42px;
    margin:0px;
    display:block;
}

.icon-confirm {
    background-image:url('../img/toolbar.png');
    background-position:0px -42px;
    width:42px;
    height:42px;
    margin:0px;
    display:block;
}

#box-toolbar-bg li:hover {
    background-color:#EEE;
}

/* ========================================== */
#box-toolbar-zoom {
    border:1px solid #EEE;
    box-shadow: 1px;
    background-color:#ddd;
    top:300px;
    position: absolute;
    border-radius: 0px;
}

#box-toolbar-zoom ul {
    list-style: none;
    margin:0px;
    padding:0px;
}

#box-toolbar-zoom li {
    width:30px;
    height:30px;
    padding:5px;
    margin:auto;
    text-align: center;
}

#box-toolbar-zoom li.divider {

}

#box-toolbar-zoom li:hover {
    background-color:#ccc;
}

#box-toolbar-zoom li.disabled {
    filter: alpha(opacity=20);
    opacity: .2;
}

#box-toolbar-zoom li.disabled:hover {
    background-color:#ddd;
}

#box-toolbar-zoom li a {
    text-decoration: none;
    color:#666;
}

.icon-zoomin {
    background-image:url('../img/sidebar.png');
    background-position:-20px 0px;
    width:20px;
    height:20px;
    margin:0px;
    display:block;
}

.icon-zoomout {
    background-image:url('../img/sidebar.png');
    background-position:-40px 0px;
    width:20px;
    height:20px;
    margin:0px;
    display:block;
}

.icon-zoomreset {
    background-image:url('../img/sidebar.png');
    background-position:0px 0px;
    width:20px;
    height:20px;
    margin:0px;
    display:block;
}

/*
.icon-undo {
    background-image:url('../img/sidebar.png');
    background-position:-20px -20px;
    width:20px;
    height:20px;
    margin:0px;
    display:block;
}*/


/* ========================================== */
#box-toolbar-texteditor {
    border:1px solid #e6674f;
    box-shadow: 1px;
    background-color:white;
    opacity: 0.9;
}

#box-toolbar-texteditor>ul {
    list-style: none;
    margin:0px;
    padding:0px;

}

#box-toolbar-texteditor>ul>li {
    width:30px;
    height:30px;
    float:left;
    padding:5px;
    margin:auto;
    text-align: center;
}

#box-toolbar-texteditor>ul>li a {
    text-decoration: none;
    color:#666;
}

#box-toolbar-texteditor>ul>li:hover {
    background-color:#EEE;
}

#box-toolbar-texteditor>ul>li.divider {
    border-right:1px solid #4186d3;
}

.icon-edittext {
    background-image:url('../img/toolbar.png');
    background-position:-462px 0px;
    width:42px;
    height:42px;
    margin:0px;
    display:block;
}

.icon-fonttype {
    background-image:url('../img/toolbar.png');
    background-position:-210px 0px;
    width:42px;
    height:42px;
    margin:0px;
    display:block;
}

.icon-fontsize {
    background-image:url('../img/toolbar.png');
    background-position:-252px 0px;
    width:42px;
    height:42px;
    margin:0px;
    display:block;
}

.icon-fontcolor {
    background-image:url('../img/toolbar.png');
    background-position:-294px 0px;
    width:42px;
    height:42px;
    margin:0px;
    display:block;
}

.icon-fontweight {
    background-image:url('../img/toolbar.png');
    background-position:-84px 0px;
    width:42px;
    height:42px;
    margin:0px;
    display:block;
}

.icon-fontitaly {
    background-image:url('../img/toolbar.png');
    background-position:-126px 0px;
    width:42px;
    height:42px;
    margin:0px;
    display:block;
}

.icon-fontunderline {
    background-image:url('../img/toolbar.png');
    background-position:-168px 0px;
    width:42px;
    height:42px;
    margin:0px;
    display:block;
}

.icon-text-left {
    background-image:url('../img/toolbar.png');
    background-position:-336px 0px;
    width:42px;
    height:42px;
    margin:0px;
    display:block;
}

.icon-text-center {
    background-image:url('../img/toolbar.png');
    background-position:-378px 0px;
    width:42px;
    height:42px;
    margin:0px;
    display:block;
}

.icon-text-right {
    background-image:url('../img/toolbar.png');
    background-position:-420px 0px;
    width:42px;
    height:42px;
    margin:0px;
    display:block;
}

.icon-forward {
    background-image:url('../img/toolbar.png');
    background-position:-336px -42px;
    width:42px;
    height:42px;
    margin:0px;
    display:block;
}

.icon-backward {
    background-image:url('../img/toolbar.png');
    background-position:-420px -42px;
    width:42px;
    height:42px;
    margin:0px;
    display:block;
}

/* ========================================*/
#box-toolbar-texteditor li:hover ul {
    display:block;
}

#box-toolbar-texteditor li ul {
    position: absolute;
    top:40px;
    display:none;
    background-color: #FFFFFF;
    border: 1px solid #e5e5e5;
    box-shadow: 1px 1px 4px 0 rgba(102,102,102,0.2);
    padding:15px;
    margin:0px -1px;
    list-style: none;
}

#li-font-type ul {
    width:500px;
    left:-10px;
}

#li-font-type ul li {
    cursor: pointer;
    background-color:white;
    width:195px;
    border-left:5px solid #FFFFFF;
    margin:0px;
    padding:0px;
    height:auto;
    display:block;
    float:left;
    overflow: hidden;
}

#li-font-type ul li:hover {
    background-color:#EEE;
    border-left:5px solid red;
}


#li-font-type ul li p {
    background-image: url('../img/font_previews.png');
    background-repeat: no-repeat;
    height: 20px;
    margin: 2px 0;
    line-height: 10px;
}

#li-font-type li:hover {
    border-left:5px solid red;
}

/* ============================ */
#li-font-size ul {
    width:200px;
    left:-10px;
}

#li-font-size ul li {
    float:left;
    text-align:center;
    margin:auto;
}

#li-font-size ul li>a {
    padding:5px;
    width:30px;
    display:block;
    color:orange;
}

#li-font-size ul li:hover {
    background-color:#eee;
}

#li-font-size ul li:hover a {
    color:orange;
}

/* ============================== */
#li-font-color ul {
    width:320px;
    left:-10px;
}

#li-font-color ul li {
    height:30px;
    width:30px;
    float:left;
    padding:5px;
}

#li-font-color ul li:hover {
    background-color:#eee;
}

#li-font-color ul li>a {
    height:30px;
    width:30px;
    display:block;
}


/* =================== */
